@model List<Models.RestConnection>

<div style="text-align: center; overflow: auto;">
    <p id="message" style="color: red;"></p>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default" style="height: 100%; display: block; overflow: auto;">
            <div class="panel-heading">Saglabātie versiju laidieni<div style="float: right">@Html.ActionLink("Versiju salīdzināšana", "Index", "Change")</div></div>

            <div id="Releases" class="panel-body" style="padding-left: 20px;">
                <table class="table table-hover" style="border:solid;">
                    <thead style="background: #dedede;">
                        <tr>
                            <td scope="col"><p>Versija</p></td>
                            <td scope="col"><p>Laidieni</p></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Models.HorizonVersion version in new DiffRest.Controllers.HomeController().GetVersions())
                        {
                            <tr>
                                <td scope="col"><p>@version.Version</p></td>
                                <td scope="col">
                                    <p>
                                        @string.Join(", ", version.ReleaseList.Select(c => c.Release))
                                    </p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-9">
        <div class="panel panel-default" style="overflow: auto;">
            <div class="panel-heading">REST metadatu iegūšana<div style="float: right">@Html.ActionLink("REST servisi", "Index", "Connection")</div></div>

            <div id="Services" class="panel-body" style="padding-left: 20px;">
                <div style="text-align: center;">
                    <div style="float: left;">
                        <b>REST servisu vārdi:</b><select class="form-control" id="Conection">
                            <option>--Select--</option>
                            @foreach (Models.RestConnection con in Model)
                            {
                                <option value="@con.Id">@con.Name</option>
                            }
                        </select>
                        <input type="button" class="btn btn-primary mb-2" onclick="window.open('/RESTMetadata/Exists?id=' + $('#Conection option:selected').val(), '_self')" value="Savākt metadatus">
                    </div>
                    <input type="text" class="form-control" id="nrOfRows" placeholder="10" onchange="refreshTable()" style="float: right;" />
                </div>

                <table id="RESTMetadataTable" class="table table-hover">
                    <thead style="background: #dedede;">
                        <tr>
                            <td style='display: none;' scope="col"><p>Id</p></td>
                            <td scope="col"><p>Sākuma laiks</p></td>
                            <td scope="col"><p>Versija</p></td>
                            <td scope="col"><p>Laidiens</p></td>
                            <td scope="col"><p>Progress</p></td>
                            <td scope="col"><p>Statusa teksts</p></td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        refresh(10000);

        setDivSize();

        $(window).resize(function () {
            setDivSize();
        });
    });

    function setDivSize() {
        var newHeight = $(window).height() - 100;

        $('#Releases').height(newHeight);
        $('#Services').height(newHeight);
    }

    //refresh table
    function refresh(time) {
        setTimeout(function () {
            refresh(time);
        }, time);
        refreshTable();
    }

    //refreshes table
    function refreshTable() {
        var path;
        if ($("#nrOfRows").val() == "" || isNaN($("#nrOfRows").val())) {
            path = '/List/GetRESTMetadataList';
        }
        else {
            path = '/List/GetRESTMetadataList?noOfProcesses=' + $("#nrOfRows").val();
        }
        $.ajax({
            type: "GET",
            url: path,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var htmlText = "";
                for (var i = 0; i < data.length; i++) {
                    var datetime = new Date(data[i].StartTime);
                    var date = datetime.getDate() + "-" + (datetime.getMonth() + 1) + "-" + datetime.getFullYear();
                    var time = datetime.getHours() + ":" + datetime.getMinutes() + ":" + datetime.getSeconds();
                    htmlText += "<tr>" +
                        "<td style='display: none;'>" + data[i].Id + "</td>" +
                        "<td>" + date + " " + time + "</td>" +
                        "<td>" + data[i].Version + "</td>" +
                        "<td>" + data[i].Release + "</td>" +
                        "<td>" + data[i].Progress + "</td>" +
                        "<td>" + data[i].Status.Text + "</td>" +
                        "</tr> ";
                }
                $("#RESTMetadataTable tbody").html(htmlText)
                $("#message").text();
            },
            error: function () {
                $("#message").text("Kļūda iegūstot procesus");
            }
        });
    }

    //table row clicked
    $("#RESTMetadataTable tbody").delegate('tr', 'click', function () {
        window.open('/RESTMetadata/Info?processID=' + $(this).find('td:first').text(), '_self');
    });
</script>
