@model Models.Process

<div>
    <h3>REST Metadata</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Release)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.Release)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Progress)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.Progress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Done)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.Done)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Text)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.Status.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Total)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.Status.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Loaded)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.Status.Loaded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Failed)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.Status.Failed)
        </dd>

        @if (Model != null && !Model.Done)
        {
            <dt>
                Procesa darbība
            </dt>

            <dd>
                <input type="button" class="btn btn-primary mb-2" value="Apturēt" onclick="window.open('/RESTMetadata/StopProcess?processId=@Model.Id', '_self');">
            </dd>
        }
    </dl>
    @Html.ActionLink("Atpakaļ", "Index", "RESTMetadata")
</div>
